.poster {
    height: 698px;
    position: relative;
}
.poster img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: absolute;
    top: 0;
    left: 0;
}
.poster::after {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(https://www.wavve.com/img/detail_gra_bg.093ce6cc.png);
    background-size: 1240px auto;
    background-repeat: no-repeat;
    width: 1240px;
    height: 698px;
    z-index: 1;
    content: "";
}
.poster h1 {
    position: absolute;
    left: -12px;
    bottom: 120px;
    font-size: 60px;
    font-style: italic;
    color: #eee;
    text-shadow: 2px 2px 2px #000;
    z-index: 2;

}
.poster h2 {
    position: absolute;
    left:0;
    bottom: 80px;
    color: white;
    z-index: 2;
}
.poster h3 {
    position: absolute;
    left: 0;
    bottom: 32px;
    color: #a5a5a5;
    z-index: 2;
}
.poster button {
    font-size: 20px;
    color: white;
    position: absolute;
    right: 40px;
    bottom: 32px;
    z-index: 2;
    cursor: pointer;
}

.movie_info_tab {
    border-bottom: 1px solid #2f2f2f;
    z-index: 2;
}
.movie_info_tab ul {
    display: flex;
}
.movie_info_tab ul li {
    padding: 0 10px;
    font-size: 18px;
    color: #a5a5a5;
    cursor: pointer;
    margin-right: 10px;
}
.movie_info_tab ul .active {
    color: white;
    padding-bottom: 20px;
    border-bottom: 4px solid #1351f9;
}

.description {
    padding-top: 40px;
    border-bottom: 1px solid #2f2f2f;
}
.description h1 {
    font-size: 20px;
    font-weight: 400;
    color: white;
    line-height: 30px;
    margin-bottom: 20px;
}
.description h2 {
    color: #a5a5a5;
    margin-bottom: 20px;
}

.movie_info {
    padding-top: 20px;
    display: flex;
    margin-bottom: 40px;
}
.movie_info>img {
    width: 185px;
    height: 278px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 24px;
}

.movie_info .info_table td{
    padding-top: 30px;
    font-weight: 400;
    text-align: left;
}
.movie_info .info_table td:first-child {
    padding-right: 20px;
}
.movie_info .info_table td img {
    margin-right: 20px;
}